@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color: wheat">
    <h1>KAUBALADU</h1>
</div>
<div class="jumbotron" style="color: wheat">
    <img src="~/Pic/storage.jpg" />
</div>